<pa-nav></pa-nav>

<div class="container">
    <br>
    <div class="row justify-content">
        <div class="col-md-12">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Cambiar Contraseña</h4>
                </header>
                <form [formGroup]="editPasswordForm" (ngSubmit)="onSubmit()">
                    <article class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                                <div class="form-group">
                                    <label>Contraseña actual</label>
                                    <input type="password" class="form-control" placeholder="Contraseña actual" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">contraseña es requerido</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Contraseña nueva</label>
                                    <input type="password" class="form-control" placeholder="Contraseña nueva" formControlName="passwordNew" [ngClass]="{ 'is-invalid': submitted && f.passwordNew.errors }">
                                    <div *ngIf="submitted && f.passwordNew.errors" class="invalid-feedback">
                                        <div *ngIf="f.passwordNew.errors.required">contraseña es requerido</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Repita la Contraseña nueva</label>
                                    <input type="password" class="form-control" placeholder="Contraseña nueva" formControlName="confirmPasswordNew" [ngClass]="{ 'is-invalid': submitted && f.confirmPasswordNew.errors }">
                                    <div *ngIf="submitted && f.confirmPasswordNew.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPasswordNew.errors.required">contraseña es requerido</div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <!-- form-group button.// -->
                                <div class="form-group">
                                    <br><br>
                                    <button [disabled]="loading" class="btn btn-primary btn-block">Actualizar</button>
                                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                    />
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </article>
                </form>

            </div>
            <!-- card.// -->
        </div>
        <!-- col.//-->

    </div>
    <!-- row.//-->
</div>
<!--container end.//-->